@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa/static/Comfortaa-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa/static/Comfortaa-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa/static/Comfortaa-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa/static/Comfortaa-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa/static/Comfortaa-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}