{% extends 'blog/base.html' %}
{% block content %}
<article class="post-detail">
    <header class="post-detail-header">
        <div class="post-detail-header-title-group">
            <h1>{{ post.title }}</h1>
            <time class="date">
                Опубликовано {{ post.timesince }}
            </time>
        </div>
        {% if user.is_authenticated and post.author == request.user %}
        <div class="post-detail-header-buttons">
            <a href="{% url 'blog:add_post' %}" class="button">Создать запись</a>
            <a href="{% url 'blog:update_post' post.slug %}" class="button update">Редактировать</a>
            <a href="{% url 'blog:delete_post' post.slug %}" class="button delete">Удалить запись</a>
        {% endif %}
        </div>
    </header>
    <div class="post-detail-main">
    {{ post.content|linebreaks }}
    </div>
    <section class="comments">
        <h2>Комментарии</h2>
        {% if comments_tree %}
        {% include 'blog/comment_snippet.html' %}
        {% include 'blog/comments_tree.html' %}
        {% else %}
        {% include 'blog/comment_snippet.html' %}
        {% endif %}
    </section>
</article>

{% endblock content %}