/* color-pallete: #F5F5F5(Grey), #48CFCB(Teal), #229799(DarkTeal), #424242(Black) */

/* -------- GENERAL OPTIONS ------------ */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
  font-size: 0.9em;
  font-weight: 700;
  color: #424242;
  background-color: #F5F5F5; }

a {
  text-decoration: none;
}

a:link {
  color: #424242;
}

a:visited {
  color: #424242;
}

ul {
  list-style-type: none;
  margin: 0;
}

.button {
  padding: 10px 15px;
  background-color: #48CFCB;
  border-radius: 10px;
}

.date {
  color: #BBB !important;
}

/* -----------MAIN HEADER ------------ */

.page-header {
  background-color: #229799;
  min-height: 50px;
}

.header-nav {
  display: grid;
  grid-template-columns: 80px auto 1fr;
  column-gap: 2vw;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-nav .logo {
  justify-self: start;
  height: 5vh;
}

.logo img {
  height: inherit;
}

.header-nav ul {
  display: flex;
  padding-top: 10px;
}

.header-nav li {
  margin-right: 20px;
}

.header-nav .profile-button {
  justify-self: end;
}

.header-nav a:link {
  color: #424242;
}

.header-nav a:visited {
  color: #424242;
}

.header-nav a:hover {
  transition-duration: 0.2s;
  color: #3ad6d1;
}

.profile-button {
  margin: 0;
  padding: 10px 15px 3px;
}

/* ----------MAIN--------------- */

.page-main {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 5%;
  background-color: #F1F1F1;
}

.main-empty p {
  margin-top: 50px;
  text-align: center;
}

a.to-post-create {
  display: block;
  width: 130px;
  margin: 0 auto;
  padding: 15px 15px 10px 14px;
  background-color: rgba(66, 66, 66, 0.1);
  border: 2px solid #424242;
  border-radius: 10%;
}

a.to-post-create > img {
  width: 100px;
  margin: 0;
}

a.to-post-create:hover {
  background-color: rgba(66, 66, 66, 0.05);
  border-color: #808080;
}

.my-posts-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px 0;
}

a.top-add-button {
  display: block;
  padding: 10px;
  border-radius: 8px;
  background-color: #48CFCB;
}

.my-posts-header h1 {
  margin: 0;
  padding-top: 15px;
  padding-left: 30px;
}

.post-preview {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
  border-top: 2px solid #999;
}

.post-preview:nth-child(2) {
  border-top: none;
}

.post-preview:hover {
  transition-duration: 0.4s;
  background-color: #DDD;
  border-radius: 15px;
}

.post-preview .date {
  margin-bottom: 10px;
}

.post-preview .button {
  align-self: flex-end;
  margin-top: 15px;
  color: #888;
  background-color: #D2FFFC;
}

.post-preview .button:hover {
  transition-duration: 0.3s;
  color: #0B5553;
  background-color: #B7FFFC;
}

.post-preview p {
  margin: 0;
  color: #777;
}

/* ----------PAGINATION----------- */

ul.pagination {
  display: flex;
  margin: 0;
}

ul.pagination a {
  padding: 5px 10px 3px;
  background-color: #EEE;
}

ul.pagination .page-item {
  height: 50px;
}

ul.pagination li.active a {
  color: #189F9B;
  background-color: #F1F1F1;
}

ul.pagination a:hover {
  color: #3ad6d1;
  background-color: #DDD;
}

ul.pagination li.active a:hover {
  color: #189F9B;
}

ul.pagination .current {
  padding: 3px 4px 0;
  color: #888;
  background-color: #DDD;
  border-radius: 20%;
}

/* ----------ADD POST PAGE--------------- */

.add-post-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 30px;
}

.add-post-form div {
  margin-bottom: 5px;
}


.add-post-form input[type='text'] {
  height: 50px;
  width: 70%;
  font-size: 1.4em;
  border: 2px solid #AAA;
  border-radius: 5px;
}

.add-post-form textarea {
  width: 70%;
  border: 2px solid #AAA;
  border-radius: 5px;
}

.post-article-button {
  align-self: flex-start;
  padding: 5px;
  background-color: #48CFCB;
  border: 2px solid #AAA;
  border-radius: 5px;
}

/* ----- UPDATE POST PAGE ---------- */

.update-post-buttons-group {
  display: flex;
  gap: 15px;
}

/* -----POST DETAIL PAGE---------- */

.post-detail {
  padding: 15px;
}

.post-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-detail-header h1 {
  font-size: 2em;
}

.post-detail-header-buttons {
  display: flex;
  flex-direction: column;
}

.button.delete {
  margin-top: 5px;
  color: #804626;
  background-color: #BF8869;
}

.button.update {
  margin-top: 5px;
  background-color: #AA9A4F;
}

/* -----POST DELETE PAGE---------- */

.post-confirm-delete-title {
  font-size: 1.3em;
  color: #BF8869;
}

/* ----------FOOTER--------------- */

.page-footer {
  background-color: #229799;
}