{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block extrameta %}{% endblock %}
    <title>{% block title %}My blog{% endblock %}</title>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        article, aside, details, figcaption, figure, footer, header,
        hgroup, menu, nav, section, *::after, *::before { display: block; }
    </style>
    <link rel="stylesheet" href={% block style_link %}"{% static 'blog/style.css' %}"{% endblock %}>
    <link rel="stylesheet" href="{% static 'blog/fonts.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'blog/images/logo.png' %}"/>
</head>
<body>
    <header class="page-header">
        {% block header %}
        <nav class="header-nav">
            <a href="{% url 'blog:feed_page' %}" class="logo">
                <img src="{% static 'blog/images/logo.png' %}" alt="Логотип">
            </a>
            <ul>
                <li><a href="{% url 'blog:feed_page' %}">Лента</a></li>
            </ul>

            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'blog:posts_list' user.username %}" class="profile-button">Профиль</a></li>
                    <li>
                        <form action="{% url 'blog:logout' %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Выйти" class="logout-button">
                        </form>
                    </li>
                {% else %}
                    <a href="{% url 'blog:login' %}" class="profile-button">Войти</a>
                {% endif %}
            </ul>
        </nav>
        {% endblock header %}
    </header>
    <main class="page-main">
    {% block content %}
    {% endblock content %}
    </main>
    <footer class="page-footer">
        <span class="copyright">© {% now "Y" %} Все права защищены </span>
    </footer>
</body>
</html>