{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% block in-header %} {% endblock in-header %}
{% if object_list %}
    <div class="posts-container">
        {% for post in object_list %}
        <article class="post-preview">
            <div class="post-title">
                {% block feedtitle %} {% endblock feedtitle %}
                <a href="{% url 'blog:post_detail' post.slug %}">
                    <h2>{{ post.title }}</h2>
                </a>
            </div>
            <time class="date">
                {{ post.timesince }}
            </time>
            <p>{{ post.content|linebreaks|truncatewords:50 }}</p>
            <a href="{% url 'blog:post_detail' post.slug %}" class="button">Читать далее</a>
        </article>
        {% endfor %}
    </div>
    {% include 'blog/pagination.html' %}
{% else %}
    <section class="main-empty">
        <p>Пока нет ни одной записи... Самое время что-нибудь написать!</p>
        <a href="{% url 'blog:add_post' %}" class="to-post-create">
            <img src="{% static 'blog/images/plus.png' %}" alt="Создать">
        </a>
    </section>
{% endif %}
{% endblock %}