{% extends 'blog/base.html' %}
{% block content %}
<article class="post-detail">
    <header class="post-detail-header">
        <div class="post-detail-header-title-group">
            <h1>{{ object.title }}</h1>
            <time class="date">
                Опубликовано {{ object.timesince }}
            </time>
        </div>
        {% if user.is_authenticated and object.user == request.user %}
        <div class="post-detail-header-buttons">
            <a href="{% url 'blog:add_post' %}" class="button">Создать запись</a>
            <a href="{% url 'blog:update_post' object.id %}" class="button update">Редактировать</a>
            <a href="{% url 'blog:delete_post' object.id %}" class="button delete">Удалить запись</a>
        {% endif %}
        </div>
    </header>
    <div class="post-detail-main">
    {{ object.content|linebreaks }}
    </div>
</article>

{% endblock content %}